*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    /* background-color: ; */
}  
.body{
    background-color: #ca0075;
    margin: 0;
} 
/*------------------------------------------------------Header----------------------------------------------------*/
#bd-title{
    font-size:25px;
    font-family: '';
}
@media all and (min-width:900px){
    .mrl{
        margin-left:200px;
    }
    .reg2{
        position:absolute;
        right:50px;
    }
    .reg1{
        position:absolute;
        right:200px;
    }
}
/*------------------------------------------------------Header----------------------------------------------------*/

/*------------------------------------------------------Nav----------------------------------------------------*/
@media all and (min-width:991px){
    .nav2{
        background-color:#f2f2f2;
        height:30px;
        overflow: hidden;
    }
    .nav2 > ul >li{
        display:inline-block;
        margin-left:50px;
    }
    .nav2 > ul >li > a:hover{
        text-decoration: none;
        list-style: none;
    }
    nav > ul >li >a{
        font-size:15px;
        font-weight:bold;
        color:black;
    }
    #one{
        margin-left:200px;
    
    }
}
@media all and (max-width:1280px){
    .nav2{
        display:none;
    }
}
/*------------------------------------------------------Nav----------------------------------------------------*/
/*------------------------------------------------------Cards----------------------------------------------------*/
.card-icon{
    height: 30px;
    width:30px;
    background-color:#ca0075;
    border-radius:50%;
}

.bb-btn1{
    position: relative;
    bottom: -15px;
    margin: 10 auto;
  border-radius: 50px; /* Adjust the radius for your desired roundness */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #cda05c;
}
.card{
    display: flex;
    justify-content: center;
}

/*------------------------------------------------------Cards----------------------------------------------------*/

/*------------------------------------------------------Banner----------------------------------------------------*/

.banner-link{
    text-decoration: none;
    list-style:none;
}
/*------------------------------------------------------Banner----------------------------------------------------*/

/*------------------------------------------------------Card2---------------------------------------------------->*/
.cd-h4{
    font-weight:bold; 
    margin:5px; 
    padding-top:5px;
    padding-left:20px; 
    padding-bottom:20px;
    background-color:#00DED1;
    max-width:330px;
    max-height:40px;
    border-radius:30px;
}

.cd-title{
    font: 1em Arial, sans-serif;
    text-align: center;
}

.txt-sz{
    position: absolute;
    align-content: center;
}

.bb-btn{
    position: absolute;
    bottom: 0px;
    margin: 10 auto ;
  border-radius: 50px; /* Adjust the radius for your desired roundness */
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #cda05c;
  justify-content: space-around;
  
}
/* box buy product */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box {
    width: 24%; /* Adjust width as needed */
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

img {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: fill; /* Scale image to fit box */
}

.product-info {
    padding: 10px;
}

.rating {
    font-size: 14px;
    color: #f0ad4e;
}

.price {
    font-weight: bold;
    margin-bottom: 5px;
}

.buy-button {
    background-color: #cda05c;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 10px;
}
.buy-button:hover {
    transform: scale(1.05);
}

/*------------------------------------------------------Card2----------------------------------------------------*/



@media all and (max-width:500px){
    .mm{
        margin: top 10px;
    }
}   





/* phone re */
/* Responsive layout for mobile (2 boxes per row) */
@media only screen and (max-width: 768px) {
    .product-box {
        width: 38%;
    }
}
/* phone re */






/*------------------------------------------------Footer------------------------------------------------- */
.footdes{
    position: relative;
    bottom:0;
    width:100%;
    height:350px;
      
}
.footer-1{
    height:300px;
}
.footer-2{
    height:75px;
    border-top:1px solid white;
}
.footer-2-div{
    margin-left:100px; margin-top:10px;
}
.footer-2-div > a{
    margin-left:20px;
}
.footer-2-div > a >i{
    font-size: 30px;
}
.foocol{
    min-height:300px;
    background-color: #172337; 
}
@media all and (min-width:576px){
    .foocol{
        border-right: 2px dotted white;
    }
}
@media all and (max-width:575px){
    .foocol{
        border-bottom: 2px dotted white;
    }
    .foocol:last-child{
        border-bottom: none;
    }
}
.foocol-2{
    background-color: #172337; 
    height: fit-content;
}
.foocol:last-child{
    border-right: none;
}
.fh4{
    margin-top:10px;
    text-transform: uppercase;
}
/*------------------------------------------------Footer------------------------------------------------- */

/* ----------------------------------- nav menu---------------------------------------------------------- */
#menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;  }

#side-menu {
    position: fixed;
    top: 0;
    left: -100%;  width: 250px;  height: 100vh;  background-color: #fff;
    transition: all 0.3s ease-in-out;  }

#side-menu.open {  left: 0;
}

#side-menu ul {
    list-style: none;
    padding: 20px;
}

#side-menu li {
    margin-bottom: 15px;
}

#side-menu a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* ----------------------------------- nav menu---------------------------------------------------------- */

/* Aboutus */
/* image text */
.container {
    display: flex; /* Make the container a flexbox */
}

.text-content {
    flex: 1; /* Allocate space for the text content */
    padding: 20px;
}

.image-container {
    background-color: #f1f1f1; /* Set background color for the image area */
    padding: 20px;
    display: flow-root; /* Make the image area a flexbox for alignment */
    flex-direction: column; /* Stack image and caption vertically */
    align-items: center; /* Center content horizontally within the image area */
}

.image-container img {
    width: 100%; /* Make the image fit the width of the image container */
    max-height: 200px; /* Set a maximum height for the image (optional) */
}

.image-container p {
    margin-top: 100px; /* Add spacing between image and caption */
    text-align: center; /* Center caption text */
}
/* image text */
/* Aboutus */